.vpc {
  padding: 5px;
  margin: 10px;
  border: 1.5px solid #19b458;
  display: grid;
  grid-template-rows: 40px 1fr;
}

.availability-zones {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: 5px;
  gap: 10px;
}

.internet-gateways-container {
  display: flex;
  flex-direction: row;
  margin: 5px;
  gap: 10px;
}
