#box-credential-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
}

#input-access-key {
  margin: 10px;
  text-align: center;
}

#input-secret-key {
  margin: 10px;
  text-align: center;
}

#input-session-token {
  margin: 10px;
  text-align: center;
}

#credentials-submit-button {
  margin-top: 30px;
}

#credential-intro-text {
  text-align: center;
}

.code-block {
  background-color: #000000;
  color: #ffffff;
  padding: 5px;
  font-style: italic;
  font-family: MyFancyCustomFont, monospace;
  font-size: inherit;
}
