#box-credential-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
}

#input-access-key {
  margin: 10px;
}

#input-secret-key {
  margin: 10px;
}

#input-session-token {
  margin: 10px;
}

#credentials-submit-button {
  margin-top: 20px;
}
