#box-credential-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
}

#input-access-key {
  margin: 10px;
  text-align: center;
}

#input-secret-key {
  margin: 10px;
  text-align: center;
}

#input-session-token {
  margin: 10px;
  text-align: center;
}

#credentials-submit-button {
  margin-top: 30px;
  background-color: rgb(104, 95, 166);
  color: white;
}

#credential-intro-text {
  text-align: center;
}
