#region-container {
  margin: 20px 20px 20px 40px; /* 40 px is equal to logo */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  border: 1.5px solid rgb(0, 0, 0);
}

.region-resources-container {
  display: flex;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

.global-resources-container {
  margin: 20px 20px 20px 40px;
  display: flex;
  flex-wrap: wrap;
  border: 1.5px solid rgb(0, 0, 0);
}

.resources-container {
  margin: 20px 20px 20px 40px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.iam-roles-container {
  margin: 20px 20px 20px 40px;
  display: flex;
  flex-wrap: wrap;
}

#progress-loader-container {
  margin: 300px 40px 0px 40px;
}
