#header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
}

#app-title {
  padding-left: 40px;
  text-decoration: underline wavy;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
}

#account-heading {
  text-decoration: underline;
  text-underline-offset: 3px;
}

#account-information {
  margin: 10px;
  text-align: center;
  font-weight: lighter;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
}

#region-heading {
  text-decoration: underline;
  text-underline-offset: 3px;
}

#region-information {
  margin: 10px;
  text-align: center;
  padding-right: 20px;
  font-weight: lighter;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
}
