#header {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  align-items: center;
}

#app-title {
  padding-left: 40px;
  text-decoration: underline wavy;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
}

#account-value-label {
  margin-right: 20px;
  text-decoration: underline;
  text-underline-offset: 10px;
  padding: 5px;
}

#region-information {
  margin: 10px;
  padding-right: 10px;
}
