.availability-zone {
  padding: 10px;
  margin: 10px 0px 10px 0px;
  border: 1.5px dashed #167cc5;
  flex: 1;
  font-size: 12px;
}

.subnets-container {
  margin: 5px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto, auto);
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: column;
}

.public-subnets-container {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, auto);
  margin: 5px;
  font-size: 9px;
}

.private-subnets-container {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, auto);
  margin: 5px;
  font-size: 9px;
}
