.subnet {
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.public-subnet {
  border: 2px dashed lightgreen;
  padding: 10px;
  margin: 5px;
}

.private-subnet {
  border: 2px dashed darkred;
  padding: 10px;
  margin: 5px;
}
