#dynamodb-table {
    padding: 20px;
    margin: 5px;
    display: inline-block;
    height: 80px;
    width: 80px;
}

#dynamodb-image-logo {
    height: 50px;
    width: 50px;
}

#dynamodb-instance-name {
    font-size: 12px;
}
