.service {
  margin: 5px;
  padding: 20px;
  font-size: 8px;
  height: 40px;
  width: 40px;
  display: inline-flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.services-logo {
  height: 20px;
  width: 20px;
  align-self: center;
}

.service-title {
  padding: 5px;
  align-self: center;
}
