body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    height: 100%;
}

.menu-section {
    flex: 1;
    background-color: #f0f0f0;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
}

.resources-section {
    flex: 5;
    background-color: #ffffff;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
}

