.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 200px auto;
}

.resources-container {
  display: grid;
  width: auto;
}

#menu {
  background-color: rgb(34, 43, 54);
}

#region {
  margin: 10px;
  padding: 20px;
  border: 1px solid rgb(0, 0, 0, 0.5);
}
