.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 200px auto;
}

.resources-container {
    display: grid;
    width: auto;
}

#menu {
 background-color: rgb(34, 43, 54);
}

